.contentback {
  background: #EFE9E7;
  width: 100%; }

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1024px; }
  .feature .content {
    text-align: center;
    margin: 50px 0 31px 0;
    font-size: 20px;
    color: #3D1101;
    line-height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .feature .content hr {
      width: 0px;
      border: 0px; }
      @media (min-width: 768px) {
        .feature .content hr {
          border-top: 1px solid #3D1101;
          width: 120px;
          border-top-width: 1px; } }
    .feature .content span {
      display: block; }

.featurecontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82%;
  color: #3D1101; }
  @media (min-width: 768px) {
    .featurecontent {
      width: 100%;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .featurecontent li {
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .featurecontent li {
        width: 33%; } }
    .featurecontent li h3 {
      margin-top: 20px;
      font-size: 18px; }
    .featurecontent li span {
      margin-top: 11px;
      display: block;
      font-size: 16px;
      line-height: 22px; }
    .featurecontent li img {
      border-radius: 50%; }

.chefback {
  background: #3D1101;
  width: 100%; }
  .chefback .chefcontent {
    margin: 0 auto;
    max-width: 1024px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    @media (min-width: 600px) {
      .chefback .chefcontent {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row;
                flex-flow: row;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .chefback img {
    max-width: 100%;
    height: 460px;
    overflow: hidden; }
  .chefback .chefinfo {
    max-width: 90%;
    color: #EFE9E7;
    padding: 2%; }
    @media (min-width: 600px) {
      .chefback .chefinfo {
        max-width: 46%; } }
    .chefback .chefinfo h3 {
      margin-bottom: 16px;
      line-height: 32px; }
    .chefback .chefinfo span {
      display: block;
      font-size: 16px; }
    .chefback .chefinfo p {
      font-size: 16px;
      line-height: 22px; }

.opinionback {
  background: #EFE9E7;
  width: 100%; }
  .opinionback .opinion {
    margin: 0 auto;
    max-width: 1024px;
    color: #3D1101; }
    .opinionback .opinion h3 {
      font-size: 24px;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 32px; }
    .opinionback .opinion ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      padding-bottom: 57px; }
      @media (min-width: 768px) {
        .opinionback .opinion ul {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-flow: row;
                  flex-flow: row;
          width: 98%;
          margin: 0 auto; } }
    .opinionback .opinion li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      width: 96%;
      margin: 0 auto; }
    .opinionback .opinion .opinioncontent {
      padding-left: 1%; }
      .opinionback .opinion .opinioncontent h4 {
        font-size: 18px;
        text-align: left;
        padding-top: 25px;
        padding-bottom: 19px; }
      .opinionback .opinion .opinioncontent p {
        font-size: 16px;
        text-align: left;
        padding-bottom: 16px;
        line-height: 22px; }
      .opinionback .opinion .opinioncontent span {
        font-size: 16px;
        display: block;
        text-align: right; }
    .opinionback .opinion img {
      border-radius: 50%;
      width: 67px;
      height: 67px; }

.bookback {
  background-color: rgba(250, 250, 250, 0.7);
  width: 100%; }
  .bookback .book {
    padding-bottom: 50px;
    margin: 0 auto;
    max-width: 1024px;
    width: 94%; }
    .bookback .book h2 {
      text-align: center;
      font-size: 24px;
      color: #3d1101;
      padding-top: 50px;
      padding-bottom: 38px;
      line-height: 33px; }
      .bookback .book h2 span {
        display: block; }
  .bookback .position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (min-width: 768px) {
      .bookback .position {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row;
                flex-flow: row; } }
  .bookback .mapimg {
    max-width: 100%;
    overflow: hidden; }
  .bookback img {
    max-width: 100%; }
  .bookback .bookform {
    margin-top: 30px;
    width: 100%;
    padding-left: 0px; }
    @media (min-width: 768px) {
      .bookback .bookform {
        padding-left: 20px;
        margin-top: 0px;
        width: calc(100% - 462px); } }
    .bookback .bookform label {
      margin-bottom: 6px;
      display: block;
      width: 100%;
      font-size: 14px;
      color: #3D1101; }
    .bookback .bookform input {
      width: 100%;
      margin-bottom: 12px;
      border-radius: 4px;
      height: 32px;
      font-size: 16px; }
    .bookback .bookform #form-button {
      text-align: right; }
      .bookback .bookform #form-button button {
        border-radius: 3px;
        color: #fff;
        font-size: 14px; }
      .bookback .bookform #form-button .orange {
        background: #F56C23; }
      .bookback .bookform #form-button .gray {
        background: rgba(0, 0, 0, 0.35); }
    .bookback .bookform input[type="radio"] {
      width: 13px;
      height: 13px; }

/*# sourceMappingURL=index.css.map */
