.footerback
  .footer
    .about
      h4.footertext 關於 六角西餐廳
      p Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. 
    .connection
      h4.footertext 聯絡方式
      ul
        li 高雄市中正五路到底
        li +886 886 886
        li service@hexschool.com
    .social
      h2  六角西餐廳
      a
        i.fa.fa-google-plus-square.googleplus(aria-hidden='true')
      a
        i.fa.fa-twitter-square.twitter(aria-hidden='true')
      a
        i.fa.fa-facebook-official.facebook(aria-hidden='true')


