.headerback
  .header
    h1  六角西餐廳
    #nav-icon4
      span
      span
      span
    ul.navbar
      li
        a(href="index.html") 介紹
      li
        a(href="login.html") 登入
      li
        a(href="cart.html") 線上訂購
.bannerback
  .banner
    .slogan
      h2 咬一口 
        span.wraptitle 就無法忘懷的漢堡
      p 七夕絕對無法錯過的好滋味
        span.pspan 六角大漢堡
    