
<div class="footerback">
  <div class="footer">
    <div class="about">
      <h4 class="footertext">關於 六角西餐廳</h4>
      <p>Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. </p>
    </div>
    <div class="connection">
      <h4 class="footertext">聯絡方式</h4>
      <ul>
        <li>高雄市中正五路到底</li>
        <li>+886 886 886</li>
        <li>service@hexschool.com</li>
      </ul>
    </div>
    <div class="social">
      <h2> 六角西餐廳</h2><a><i class="fa fa-google-plus-square googleplus" aria-hidden="true"></i></a><a><i class="fa fa-twitter-square twitter" aria-hidden="true"></i></a><a><i class="fa fa-facebook-official facebook" aria-hidden="true"></i></a>
    </div>
  </div>
</div>