
<div class="headerback">
  <div class="header">
    <h1> 六角西餐廳</h1>
    <div id="nav-icon4"><span></span><span></span><span></span></div>
    <ul class="navbar">
      <li><a href="index.html">介紹</a></li>
      <li><a href="login.html">登入</a></li>
      <li><a href="cart.html">線上訂購</a></li>
    </ul>
  </div>
</div>
<div class="bannerback">
  <div class="banner">
    <div class="slogan">
      <h2>咬一口 <span class="wraptitle">就無法忘懷的漢堡</span></h2>
      <p>七夕絕對無法錯過的好滋味<span class="pspan">六角大漢堡</span></p>
    </div>
  </div>
</div>