block layout
include ./layout.pug
.cartback
  .cartcontent
    .cartmenu
      h3 
        i.fa.fa-pagelines(aria-hidden='true') 線上訂購
      ul
        li
          a(href="#") 全部(23)
        li
          a(href="#") 只愛吃薯條(4)
        li
          a(href="#") 加熱就可食(15)
        li
          a(href="#") 不敗漢堡系列(4)
    .cartlist
      .search
        form.p-form.searchform
          input.searchbar( type="text" placeholder='請輸入搜尋內容')
          button.btn.searchbtn
            i.fa.fa-search(aria-hidden='true')
        .pay
          a.check(href="#") 結帳
          a.checkcart(href="#")
            i#shopping-cart-img.fa.fa-shopping-cart(aria-hidden='true')
      .hamburgerlist
        ul
          li
            .listimg.img1
            .listcontent
              h3  經典漢堡套餐
              p Classic Hamburger Package
              hr
              h3 $120
            .listbtn
              button.cartbtn
                i#fa-shopping-cart.fa.fa-shopping-cart 加入購物車

          li
            .listimg.img2
            .listcontent
              h3  英俊香腸
              p Handsome Sausage
              hr
              h3 $1024
            .listbtn
              button.cartbtn
                i#fa-shopping-cart.fa.fa-shopping-cart 加入購物車
          li
            .listimg.img3
            .listcontent
              h3  漢堡兄弟
              p Hamburger Brother
              hr
              h3 $792
            .listbtn
              button.cartbtn
                i#fa-shopping-cart.fa.fa-shopping-cart 加入購物車
          li
            .listimg.img4
            .listcontent
              h3  完美願望
              p Perfect Wish
              hr
              h3 $999.999
            .listbtn
              button.cartbtn
                i#fa-shopping-cart.fa.fa-shopping-cart 加入購物車
block layout
include ./partials/footer.pug
script(src='./js/vendors.js')
script(src='./js/all.js')     