block layout
include ./layout.pug
.contentback
  .feature
    .content
      hr
      h3 客人總是在詢問
        span 這麼好吃的秘訣是什麼
      hr
    ul.featurecontent
      li
        img(src="./images/feature_1.png", alt="")
        h3 台灣本土蔬菜
          span In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.
      li
        img(src="./images/feature_2.png", alt="")
        h3 專業米其林廚師
          span In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.
      li
        img(src="./images/feature_3.png", alt="")
        h3 對於專業不能退讓
          span In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.
.chefback
  .chefcontent
    img(src="../images/main_chef_brown.png", alt="")
    .chefinfo
      h3 今日主廚：帕金森、梅在帕
        span Tody Chef: Plum in Shock
      p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci. Mauris molestie sit amet metus mattis varius. Donec sit amet ligula eget nisi sodales egestas. Aliquam interdum dolor aliquet dolor sollicitudin fermentum. Donec congue lorem a molestie bibendum.
.opinionback
  .opinion
    h3 聽聽別人的感想
    ul
      li
        img(src="../images/avatar_1.png", alt="")
        .opinioncontent
          h4 高雄一口吃
          p 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
          span -- 產品經理
      li
        img(src="../images/avatar_2.png", alt="")
        .opinioncontent
          h4 廟口小霸王
          p 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
          span -- 金身道士
      li
        img(src="../images/avatar_3.png", alt="")
        .opinioncontent
          h4  春天也來了
          p 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
          span -- 美麗萬分
.bookback
  .book
    h2 我們的位子不太夠座 
      span  要不要先訂位呢
    .position
      .mapimg
        img(src="../images/Map.png", alt="")
      form.bookform.p-form
        label(for='name_') 姓名
        input#name_(type='text', name='name_', placeholder='六角講師吃尾牙')
        label(for='tel') 電話
        input#tel(type='tel', name='tel', placeholder='02-1234567')
        label(for='mail') 信箱
        input#mail(type='email', name='mail', placeholder='hexschool@mail.com')
        label(for='people') 人數
        input#people(type='number', name='people', placeholder='0')
        label 是否需要素食
        label(style='display: inline') 是
        input#vegetables(type='radio', name='vegetables', checked='')
        label(style='display: inline') 否
        input#vegetables(type='radio', name='vegetables')
        #form-button
          button.btn-warning.btn.gray 取消
          button.btn.orange 送出
block layout
include ./partials/footer.pug
script(src='../js/vendors.js')
script(src='../js/all.js')