block layout
include ./layout.pug
.loginback
  .login
    img(src="./images/logo_l.svg", alt="")
    h3 享受美食的好味道
    form.p-form.formbox
      h4 LOGIN
      label#mail-l(for='mail') Email Address
      input#mail.mail(type='email', name='mail')
      label#password-l(for='password') Password
      input#password.password(type='password', name='password')
      span.forget 忘記密碼？
      .buttongroup
        button.p-btn.btn.orange 送出
        button.btn-warning.btn.gray 取消

block layout
include ./partials/footer.pug
script(src='./js/vendors.js')
script(src='./js/all.js')